/* .movieDetails {
  padding: 20px;
  background-color: #f8f9fa;
}

h1 {
  color: #343a40;
}

p {
  color: #495057;
}

ul {
  list-style: none;
  padding: 0;
}

li {
  margin: 10px 0;
}

a {
  color: #007bff;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
} */
.movieDetails {
  padding: 20px;
}

.movieDetails h1 {
  font-size: 2em;
  margin-bottom: 20px;
}

.poster {
  max-width: 300px;
  height: auto;
  border-radius: 10px;
}

nav ul {
  list-style: none;
  padding: 0;
}

nav li {
  display: inline;
  margin-right: 20px;
}

nav a {
  text-decoration: none;
  color: blue;
}

nav a:hover {
  text-decoration: underline;
}
