/* .home {
  padding: 20px;
  background-color: #f8f9fa;
}

h1 {
  color: #343a40;
}

ul {
  list-style: none;
  padding: 0;
}

li {
  margin: 10px 0;
}

a {
  color: #007bff;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
} */
.home {
  padding: 20px;
}
a:hover {
  text-decoration: underline;
}

.home h1 {
  font-size: 2em;
  margin-bottom: 20px;
}

.movieItem {
  list-style: none;
  margin-bottom: 20px;
}

.thumbnail {
  max-width: auto;
  height: auto;
  border-radius: 10px;
}

.movieItem a {
  text-decoration: none;
  color: inherit;
}
